version: "3.3"

services:
  streamlit-app:
    build:
      context: .
    ports:
      - "8501:8501"
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin"
      AWS_REGION: "us-east-1"
    networks:
      - mybridge
    volumes:
      - ./app.py:/app/app.py

networks:
  mybridge:
    external: true
